@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<dic class="row">
    <div class="col-md-3">
        <img src="~/cookie-monster.jpg" class="img-fluid" />
    </div>
    <div class="col-md-9">
        <h1>
            Cookies... Om nom nom nom
        </h1>

        <h2>
            @Model.counter cookies!
        </h2>

        <form method="post">
            <button class="btn btn-primary">
                Eat Cookie
            </button>
        </form>

    </div>
</dic>
